.jumbotron{
	padding: 1rem;
}

.form-group{
	display: flex;
	flex-direction: column;
	}
	.form-group > label{
		font-weight: bold;
    }
    .form-group select:hover{
        cursor:pointer;
    }
.search-button > div{
    position: relative!important;
    float: right!important;
}