.footer{
	position: fixed; bottom: 0; width: 100%;
    text-align: center;
    justify-content: center;
	color: white;
	background-color: #343a40!important;
	}

	.footer img{
		width: 1rem;
		height: 1rem;
	}